html, body {
    margin: 0;
    font-family: monospace;
    color: #3D3B51;
}

body {
    background: url('../assets/background.png');
    background-color: #3D357D;
    background-size: cover;
}

.todo-section {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container {
    width: 500px;
    height: 85vh;
    background: #ffffff;
    border-radius: 6px;
}
@media (max-width: 550px) {
    .todo-container {
        width: 90%;
    }
}

.todo-title {
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
}

.todo-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
