html, body {
    margin: 0;
}

body {
    background: url('../assets/background.png');
    background-color: #3D357D;
    background-size: cover;
}

.todo-section {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container {
    width: 500px;
    height: 85vh;
    background: #ffffff;
    border-radius: 6px;
}
@media (max-width: 550px) {
    .todo-container {
        width: 90%;
    }
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #7F72EA;
    border-radius: 6px;
}
.todo-header > img {
    width: 80%;
}